@font-face {
    font-family: 'LincolnMillerB-Roman';
    src: url('./fonts/LincolnMillerB-Roman.otf')
}

@font-face {
    font-family: 'Lincoln-Proxima-Nova-Light';
    src: url('./fonts/Lincoln-ProximaNova-Light.otf')
}

@font-face {
    font-family: 'LincolnMillerB-Bold';
    src: url('./fonts/LincolnMillerB-Bold.otf')
}

@font-face {
    font-family: 'Lincoln-ProximaNova-LightIt';
    src: url('./fonts/Lincoln-ProximaNova-LightIt.otf')
}

@font-face {
    font-family: 'Lincoln-ProximaNova-Thin';
    src: url('./fonts/Lincoln-ProximaNova-Thin.otf')
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
}

.dFordTextThin {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
    font-family: 'Lincoln-ProximaNova-Thin';
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.slideWrappr {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dFordTitle {
    font-family: 'LincolnMillerB-Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 78px;
    line-height: 94px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordSmallTitle {
    font-family: 'LincolnMillerB-Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 109.94%;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordSubTitle {
    font-family: 'LincolnMillerB-Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordNormalTitle {
    font-family: 'LincolnMillerB-Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    opacity: 0.8;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordMainTitle {
    font-family: 'LincolnMillerB-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 129px;
    line-height: 155px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    opacity: 0.9;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordSunMenuText {
    font-family: 'Lincoln-Proxima-Nova-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordSunMenuActiveIndex {
    font-family: 'LincolnMillerB-Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordSunMenuNormalIndex {
    font-family: 'LincolnMillerB-Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.4;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordText {
    font-family: 'Lincoln-Proxima-Nova-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    text-align: left;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordText::before {
    position: absolute;
    content: '';
    width: 68px;
    height: 0px;
    left: 0px;
    top: -30px;
    border: 5px solid #DBC17D;
    transform: rotate(180deg);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.dFordNormalText {
    font-family: 'Lincoln-Proxima-Nova-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    text-align: left;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.homePageWrapper {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box>img {
    object-fit: cover;
    transition: .5s;
}

.box>span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover {
    flex: 1 1 80%;
}

.box:hover>img {
    width: 100%;
    height: 100%;
}

.video-react {
    background-color: transparent !important;
}

.video-react .video-react-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.video-react-has-started .video-react-control-bar, .video-react .video-react-big-play-button {
    display: none !important;
}

.imageCover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* leisure section6 grally*/

.activeGrally0 {
    background: rgba(137, 226, 255, 0.35);
    backdrop-filter: blur(20px),
}

.activeGrally1 {
    background: rgba(255, 255, 188, 0.35);
    backdrop-filter: blur(20px);
}

.activeGrally2 {
    background: rgba(255, 243, 130, 0.35);
    backdrop-filter: blur(20px);
}

.normalGrally {
    background: rgba(20, 20, 20, 0.3);
    backdrop-filter: blur(20px);
}

.imageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sectionWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    overflow: hidden;
}

.homePageIndex {
    position: absolute;
    width: 90px;
    height: 105px;
    left: 45px;
    top: 891px;
}

.activeInfo {
    background: #3B6328;
}

.normalInfo {
    background: #1A1A1A;
}

.infoItemBg1 {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 100%;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%
}

.line:nth-child(1) ::after {
    animation-delay: 2s
}

.line:nth-child(3) {
    margin-left: 25%
}

.line:nth-child(3) ::after {
    animation-delay: 2.5s
}

@keyframes drop {
    0% {
        top: -50%
    }
    100% {
        top: 110%
    }
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.lightWrapper {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(#a23982, #1f1013);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1 {
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.x2 {
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
}

.x3 {
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
}

.x4 {
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
}

.x5 {
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
}

.x6 {
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
}

.x7 {
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
}

.x8 {
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
}

.x9 {
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
}

@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.comfortSection8ClickMagamizeIn {
    animation-duration: 1s;
    animation-name: comfortSection8ClickMagamizeIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection8ClickMagamizeIn {
    from {
        top: 145px;
    }
    to {
        top: 574px
    }
}

.comfortSection8ClickButtonIn {
    animation-duration: 1s;
    animation-name: comfortSection8ClickButtonIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection8ClickButtonIn {
    from {
        top: 475px;
    }
    to {
        top: 1035px
    }
}
.comfortSection8ClickButtonOut {
    animation-duration: 1s;
    animation-name: comfortSection8ClickButtonOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection8ClickButtonOut {
    from {
       
        top: 1035px
    }
    to {
        top: 475px;
    }
}
.comfortSection8ClickMagamizeOut {
    animation-duration: 2.5s;
    animation-name: slideOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes slideOut {
    from {
        top: 574px;
    }
    to {
        top: 0px
    }
}

.leisureSection2CanvasRefWrapperIn {
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-name: leisureSection2;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes leisureSection2 {
    from {
        left: 0%;
        height: 100%
    }
    to {
        left: -20%;
        height: 80%
    }
}

.leisureSection2CanvasRefWrapperBack {
    animation-duration: 1.5s;
    animation-name: leisureSectionBack;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes leisureSectionBack {
    from {
        left: -20%;
        height: 80%
    }
    to {
        left: 0%;
        height: 100%
    }
}

.leisureSection3Bg1 {
    animation-duration: 1.5s;
    animation-name: leisureSection3Bg1In;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.leisureSection3Bg2Back {
    animation-duration: 1s;
    animation-name: leisureSection3Bg1In;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes leisureSection3Bg1In {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.leisureSection3Bg1Back, {
    animation-duration: 1.5s;
    animation-name: leisureSection3Bg1Back;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

leisureSection3Bg2In {
    animation-duration: 2.8s;
    animation-name: leisureSection3Bg1Back;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes leisureSection3Bg1Back {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*demoIntroSection1Wrapper*/

.demoIntroSection1Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: center;
}

/*privacySection2*/

.privacySection2leftContent {
    position: absolute;
    width: 545px;
    height: 430px;
    left: 0px;
    top: 594px;
    background: rgba(139, 146, 156, 0.2);
    backdrop-filter: blur(46px);
}

/*privacySection1*/

.privacySection1WrapperLeftContent {
    position: absolute;
    width: 545px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(26, 32, 50, 0.16);
    backdrop-filter: blur(15px);
}

/*privacySection3*/

.privacySection3imageIn {
    animation-duration: 1.5s;
    animation-name: privacySection3imageIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes privacySection3imageIn {
    from {
        width: 100%;
        transform: scale(1);
        left: 0px;
    }
    to {
        width: 80%;
        transform: scale(2);
        left: -274px;
    }
}

.privacySection3imageOut {
    animation-duration: 1.5s;
    animation-name: privacySection3imageOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes privacySection3imageOut {
    from {
        width: 80%;
        transform: scale(2.5);
        left: -300px;
    }
    to {
        width: 100%;
        transform: scale(1);
        left: 0px;
    }
}

.privacySection3leftContentIn {
    animation-duration: 1.5s;
    animation-name: privacySection3leftContentIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes privacySection3leftContentIn {
    from {
        width: 545px;
    }
    to {
        width: 100%;
    }
}

.privacySection3leftContentOut {
    animation-duration: 1.5s;
    animation-name: privacySection3leftContentOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes privacySection3leftContentOut {
    from {
        width: 100%;
    }
    to {
        width: 545px;
    }
}

/* privacy section 7*/

.privacy_section_7_bgIn {
    animation-duration: 2.8s;
    animation-name: privacy_section_7_bgIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes privacy_section_7_bgIn {
    from {
        top: 200px;
        left: -660px;
        transform: scale(2);
    }
    to {
        top: -39px;
        left: -386px;
        transform: scale(1.57);
    }
}

.privacy_section_7_bgBack {
    animation-duration: 2.8s;
    animation-name: privacy_section_7_bgBack;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes privacy_section_7_bgBack {
    from {
        top: -39px;
        left: -386px;
        transform: scale(1.57);
    }
    to {
        top: 200px;
        left: -660px;
        transform: scale(2);
    }
}

/* comfort section 2*/

.comfortSection2Box05In {
    animation-duration: .1s;
    animation-name: comfortSection2Box05In;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection2Box05In {
    from {
        left: 0px
    }
    to {
        left: 530px
    }
}

.comfortSection2Box05Out {
    animation-duration: .1s;
    animation-name: comfortSection2Box05Out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection2Box05Out {
    from {
        left: 530px
    }
    to {
        left: 0px
    }
}

.comfortSection2SplitterMoveHanlder::before {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left: 25px solid #e0d9d9;
    content: '';
    position: absolute;
    top: 25px;
    left: 51px;
}

.comfortSection2SplitterMoveHanlder::after {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right: 25px solid #e0d9d9;
    content: '';
    position: absolute;
    top: 25px;
    left: -5px;
}

.comfortSection4Image1In {
    animation-duration: 1s;
    animation-name: comfortSection4Image1In;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection4Image1In {
    from {
        width: 545px
    }
    to {
        width: 821px
    }
}

.comfortSection4Image1Out {
    animation-duration: 1s;
    animation-name: comfortSection4Image1Out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection4Image1Out {
    from {
        width: 821px
    }
    to {
        width: 545px
    }
}

.comfortSection4HandIn {
    animation-duration: 1s;
    animation-name: comfortSection4HandIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection4HandIn {
    from {
        left: 350px
    }
    to {
        left: 490px;
    }
}

.comfortSection4HandOut {
    animation-duration: 1s;
    animation-name: comfortSection4HandOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection4HandOut {
    from {
        left: 490px
    }
    to {
        left: 350px
    }
}

.uniqueSection2MaxImageBgIn {
    animation-duration: 1.5s;
    animation-name: uniqueSection2MaxImageBgIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes uniqueSection2MaxImageBgIn {
    from {
        transform: scale(1);
        top: 0px;
        left: 0px;
    }
    to {
        transform: scale(1.5);
        top: 119px;
        left: -270px;
    }
}

.uniqueSection2MaxImageBgOut {
    animation-duration: 1.5s;
    animation-name: uniqueSection2MaxImageBgOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes uniqueSection2MaxImageBgOut {
    from {
        transform: scale(1.5);
        top: 119px;
        left: -270px;
    }
    to {
        transform: scale(1);
        top: 0px;
        left: 0px;
    }
}

.leisureSetion6GrallyMaxImageIn {
    animation-duration: 1.5s;
    animation-name: leisureSetion6GrallyMaxImageIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes leisureSetion6GrallyMaxImageIn {
    from {
        top: 0px;
        transform: scale(1);
    }
    to {
        top: -80px;
        transform: scale(1.2);
    }
}

.leisureSetion6GrallyMaxImageOut {
    animation-duration: 1.5s;
    animation-name: leisureSetion6GrallyMaxImageOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes leisureSetion6GrallyMaxImageOut {
    from {
        top: -80px;
        transform: scale(1.2);
    }
    to {
        top: 0px;
        transform: scale(1);
    }
}

/*** comfortSection9Wrapper **/

.maskBg1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(124.38deg, rgba(242, 210, 192, 0.22) 30.05%, rgba(27, 22, 82, 0.22) 78.59%)
}

.maskBg2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(204.7deg, rgba(0, 0, 0, 0) 57.76%, rgba(19, 21, 40, 0.4) 88.78%);
    mix-blend-mode: multiply;
}



.comfortSection9Bg1In {
    animation-duration: 1.5s;
    animation-name: comfortSection9Bg1In;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection9Bg1In {
    from {
        height: 712px;
        filter: blur(40px);
    }
    to {
        height: 100%;
        filter: blur(0px);
    }
}


.comfortSection9Bg1Out {
    animation-duration: 1.5s;
    animation-name: comfortSection9Bg1Out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes comfortSection9Bg1Out {
    from {
        height: 100%;
        filter: blur(0px);
    }
    to {
        height: 712px;
        filter: blur(40px);
    }
}

.clipImage{
    clip: rect(0px,824px,1024px,0px);
}


.canvasImageScale{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(.45);
    left: -532px;
    top: -226px;
}
.canvasImageScaleDigitalSealInsert{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(.55);
    left: -372px;
    top: -326px;
}


.uniqueDynamicIn{
    animation-duration: 1.5s;
    animation-name: uniqueDynamicIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
}


@keyframes uniqueDynamicIn {
    from {
        width: 531px;
        height: 226px;
        left: 147px;
        top: 169px;
    }
    to {
        width: 361px;
        height: 156px;
        left: 500px;
        top: 201px;
    }
}


.uniqueDynamicOut{
    animation-duration: 1.5s;
    animation-name: uniqueDynamicOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
}


@keyframes uniqueDynamicOut {
    from {
        width: 361px;
        height: 156px;
        left: 500px;
        top: 201px;
    }
    to {
        width: 531px;
        height: 226px;
        left: 147px;
        top: 169px;
    }
}



.maxImageAnimate {
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}


/* .maxImage img{
    opacity: .5;
    transition: opacity .5s linear; 
}

.maxImage img.active{
    opacity: 1; 
  } */

  .maxImage .imageCover{
    --animate-duration: 0.5s;
  }

  /* home page section default **/
 .homePageBoxWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index:5;
 }
  .homePageBox1Step1 {

    clip: rect(0px,341.5px,1024px,0px);
  }
  .homePageBox1Step1Title{
    top: 820px;
    left: 60px;
  }
  .homePageBox1Step1Index{
    top: 910px;
    left: 120px;
  }

  .homePageBox2Step1 {
    clip: rect(131px,683px,1024px,341.5px);
  }
  .homePageBox2Step1Title{
    top: 820px;
    left: 380px;
  }
  .homePageBox2Step1Index{
    top: 910px;
    left: 470px;
  }

  .homePageBox3Step1 {
    clip: rect(0px,1024.5px,1024px,683px);
  }
  .homePageBox3Step1Title{
    top: 820px;
    left: 750px;
  }
  .homePageBox3Step1Index{
    top: 910px;
     left: 770px;
  }

  .homePageBox4Step1 {
    clip: rect(0px,1366px,1024px,1024.5px);
  }
  .homePageBox4Step1Title{
    top: 820px;
    left: 1079px;
  }
  .homePageBox4Step1Index{
    top: 910px;
    left: 1120px;
  }


  /* .homePageBox1Step2 {
    clip: rect(0px,1366px,1024px,1024.5px);
  }
  .homePageBox2Step2 {
    clip: rect(0px,1366px,1024px,1024.5px);
  }
  .homePageBox2Step2 {
    clip: rect(0px,1366px,1024px,1024.5px);
  }
  .homePageBox13Step2 {
    clip: rect(0px,1366px,1024px,1024.5px);
  } */